In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("IPL_Ball_by_Ball_2008_2022.csv")
df2=pd.read_csv("IPL_Matches_2008_2022.csv")

In [3]:
df.shape

(225954, 17)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 225954 non-null  int64
 1   innings            225954 non-null  int64
 2   overs              225954 non-null  int64
 3   ballnumber         225954 non-null  int64
 4   batter             225954 non-null  object
 5   bowler             225954 non-null  object
 6   non-striker        225954 non-null  object
 7   extra_type         12049 non-null   object
 8   batsman_run        225954 non-null  int64
 9   extras_run         225954 non-null  int64
 10  total_run          225954 non-null  int64
 11  non_boundary       225954 non-null  int64
 12  isWicketDelivery   225954 non-null  int64
 13  player_out         11151 non-null   object
 14  kind               11151 non-null   object
 15  fielders_involved  7988 non-null    object
 16  BattingTeam        225954 non-null  object
dtypes: int64(9), object(8)
memory usage: 29.3+ MB

In [5]:
df.sample(5)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
61862,1136618,2,6,6,SV Samson,Kuldeep Yadav,AM Rahane,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
215945,336025,1,16,5,LR Shukla,M Ntini,Salman Butt,NaN,0,0,0,0,0,NaN,NaN,NaN,Kolkata Knight Riders
122914,734001,1,7,3,AJ Finch,PP Ojha,KL Rahul,NaN,6,0,6,0,0,NaN,NaN,NaN,Sunrisers Hyderabad
81781,1082623,1,3,5,S Dhawan,MM Sharma,DA Warner,NaN,4,0,4,0,0,NaN,NaN,NaN,Sunrisers Hyderabad
122130,734009,2,18,4,YK Pathan,SL Malinga,RN ten Doeschate,NaN,4,0,4,0,0,NaN,NaN,NaN,Kolkata Knight Riders

In [6]:
df.isnull().sum()

ID                        0
innings                   0
overs                     0
ballnumber                0
batter                    0
bowler                    0
non-striker               0
extra_type           213905
batsman_run               0
extras_run                0
total_run                 0
non_boundary              0
isWicketDelivery          0
player_out           214803
kind                 214803
fielders_involved    217966
BattingTeam               0
dtype: int64

In [7]:
df2.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [8]:
new_df=pd.merge(df,df2,on="ID")
new_df.head(3)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon

In [9]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 225954 entries, 0 to 225953
Data columns (total 36 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 225954 non-null  int64
 1   innings            225954 non-null  int64
 2   overs              225954 non-null  int64
 3   ballnumber         225954 non-null  int64
 4   batter             225954 non-null  object
 5   bowler             225954 non-null  object
 6   non-striker        225954 non-null  object
 7   extra_type         12049 non-null   object
 8   batsman_run        225954 non-null  int64
 9   extras_run         225954 non-null  int64
 10  total_run          225954 non-null  int64
 11  non_boundary       225954 non-null  int64
 12  isWicketDelivery   225954 non-null  int64
 13  player_out         11151 non-null   object
 14  kind               11151 non-null   object
 15  fielders_involved  7988 non-null    object
 16  BattingTeam        225954 non-null  object
 17  City               213557 non-null  object
 18  Date               225954 non-null  object
 19  Season             225954 non-null  object
 20  MatchNumber        225954 non-null  object
 21  Team1              225954 non-null  object
 22  Team2              225954 non-null  object
 23  Venue              225954 non-null  object
 24  TossWinner         225954 non-null  object
 25  TossDecision       225954 non-null  object
 26  SuperOver          225582 non-null  object
 27  WinningTeam        225582 non-null  object
 28  WonBy              225954 non-null  object
 29  Margin             221948 non-null  float64
 30  method             3208 non-null    object
 31  Player_of_Match    225582 non-null  object
 32  Team1Players       225954 non-null  object
 33  Team2Players       225954 non-null  object
 34  Umpire1            225954 non-null  object
 35  Umpire2            225954 non-null  object
dtypes: float64(1), int64(9), object(26)
memory usage: 63.8+ MB

In [10]:
req_df=new_df[['ID', 'innings', 'overs', 'ballnumber', 
          'total_run',
       'non_boundary', 'isWicketDelivery',  
       'BattingTeam', 'City',  
        'Team1', 'Team2', 'Venue', 'TossWinner', 'TossDecision']]
req_df.head()

,ID,innings,overs,ballnumber,total_run,non_boundary,isWicketDelivery,BattingTeam,City,Team1,Team2,Venue,TossWinner,TossDecision
0,1312200,1,0,1,0,0,0,Rajasthan Royals,Ahmedabad,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat
1,1312200,1,0,2,1,0,0,Rajasthan Royals,Ahmedabad,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat
2,1312200,1,0,3,1,0,0,Rajasthan Royals,Ahmedabad,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat
3,1312200,1,0,4,0,0,0,Rajasthan Royals,Ahmedabad,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat
4,1312200,1,0,5,0,0,0,Rajasthan Royals,Ahmedabad,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat

In [13]:
req_df=req_df[req_df['innings']==1]
req_df[req_df['BattingTeam']==req_df['Team1']]

,ID,innings,overs,ballnumber,total_run,non_boundary,isWicketDelivery,BattingTeam,City,Team1,Team2,Venue,TossWinner,TossDecision
0,1312200,1,0,1,0,0,0,Rajasthan Royals,Ahmedabad,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat
1,1312200,1,0,2,1,0,0,Rajasthan Royals,Ahmedabad,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat
2,1312200,1,0,3,1,0,0,Rajasthan Royals,Ahmedabad,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat
3,1312200,1,0,4,0,0,0,Rajasthan Royals,Ahmedabad,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat
4,1312200,1,0,5,0,0,0,Rajasthan Royals,Ahmedabad,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225134,335985,1,19,2,0,0,0,Mumbai Indians,Mumbai,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat
225135,335985,1,19,3,4,0,0,Mumbai Indians,Mumbai,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat
225136,335985,1,19,4,1,0,0,Mumbai Indians,Mumbai,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat
225137,335985,1,19,5,1,0,0,Mumbai Indians,Mumbai,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat
225138,335985,1,19,6,0,0,1,Mumbai Indians,Mumbai,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat

In [16]:
req_df.shape

(116883, 14)

In [18]:
req_df['BowlingTeam']=np.where(req_df['Team2']==req_df['BattingTeam'],req_df['Team1'],req_df['Team2'])

C:\Users\HARSH\AppData\Local\Temp\ipykernel_16208\4126548564.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  req_df['BowlingTeam']=np.where(req_df['Team2']==req_df['BattingTeam'],req_df['Team1'],req_df['Team2'])

In [19]:
req_df.sample(5)

,ID,innings,overs,ballnumber,total_run,non_boundary,isWicketDelivery,BattingTeam,City,Team1,Team2,Venue,TossWinner,TossDecision,BowlingTeam
59287,1175363,1,3,3,4,0,0,Rajasthan Royals,Hyderabad,Rajasthan Royals,Sunrisers Hyderabad,Rajiv Gandhi International Stadium,Rajasthan Royals,bat,Sunrisers Hyderabad
60098,1175360,1,14,6,0,0,0,Delhi Capitals,Delhi,Delhi Capitals,Chennai Super Kings,Arun Jaitley Stadium,Delhi Capitals,bat,Chennai Super Kings
176306,501232,1,3,5,4,0,0,Royal Challengers Bangalore,Bangalore,Royal Challengers Bangalore,Pune Warriors,M Chinnaswamy Stadium,Pune Warriors,field,Pune Warriors
32381,1237181,1,7,3,2,0,0,Delhi Capitals,NaN,Delhi Capitals,Mumbai Indians,Dubai International Cricket Stadium,Delhi Capitals,bat,Mumbai Indians
94965,980971,1,10,5,1,0,0,Kings XI Punjab,Chandigarh,Kings XI Punjab,Delhi Daredevils,"Punjab Cricket Association IS Bindra Stadium, ...",Delhi Daredevils,field,Delhi Daredevils

In [20]:
req_df.columns

Index(['ID', 'innings', 'overs', 'ballnumber', 'total_run', 'non_boundary',
       'isWicketDelivery', 'BattingTeam', 'City', 'Team1', 'Team2', 'Venue',
       'TossWinner', 'TossDecision', 'BowlingTeam'],
      dtype='object')

In [21]:
req_df=req_df[['ID',  'BattingTeam', 
        'BowlingTeam','overs', 'ballnumber', 'total_run', 
       'isWicketDelivery', 'City']]

In [22]:
req_df['City'].value_counts()

Mumbai            19728
Kolkata            9634
Delhi              9548
Chennai            8303
Hyderabad          7883
Bangalore          7869
Chandigarh         6817
Pune               6300
Jaipur             5832
Abu Dhabi          4565
Ahmedabad          2344
Durban             1858
Bengaluru          1761
Dubai              1623
Visakhapatnam      1608
Centurion          1486
Sharjah            1245
Rajkot             1229
Navi Mumbai        1133
Dharamsala         1115
Indore             1082
Johannesburg        995
Port Elizabeth      870
Cuttack             856
Ranchi              837
Cape Town           813
Raipur              742
Kochi               603
Kanpur              492
East London         380
Nagpur              370
Kimberley           368
Bloemfontein        251
Name: City, dtype: int64

In [23]:
req_df.head()

,ID,BattingTeam,BowlingTeam,overs,ballnumber,total_run,isWicketDelivery,City
0,1312200,Rajasthan Royals,Gujarat Titans,0,1,0,0,Ahmedabad
1,1312200,Rajasthan Royals,Gujarat Titans,0,2,1,0,Ahmedabad
2,1312200,Rajasthan Royals,Gujarat Titans,0,3,1,0,Ahmedabad
3,1312200,Rajasthan Royals,Gujarat Titans,0,4,0,0,Ahmedabad
4,1312200,Rajasthan Royals,Gujarat Titans,0,5,0,0,Ahmedabad

In [24]:
req_df['BattingTeam'].value_counts()

Mumbai Indians                 15298
Chennai Super Kings            13962
Royal Challengers Bangalore    13646
Kolkata Knight Riders          12704
Kings XI Punjab                11869
Rajasthan Royals               11238
Sunrisers Hyderabad             9512
Delhi Daredevils                8753
Deccan Chargers                 5280
Delhi Capitals                  3610
Pune Warriors                   2448
Punjab Kings                    2244
Gujarat Lions                   1726
Lucknow Super Giants             994
Rising Pune Supergiant           994
Gujarat Titans                   880
Kochi Tuskers Kerala             876
Rising Pune Supergiants          849
Name: BattingTeam, dtype: int64

In [25]:
req_df=req_df.replace("Delhi Daredevils",'Delhi Capitals')
req_df=req_df.replace("Deccan Chargers",'Sunrisers Hyderabad')
req_df=req_df.replace("Kings XI Punjab","Punjab Kings")

In [36]:
req_df["BattingTeam"].value_counts()

Mumbai Indians                 14049
Sunrisers Hyderabad            13560
Punjab Kings                   13034
Chennai Super Kings            12874
Royal Challengers Bangalore    12156
Kolkata Knight Riders          11840
Delhi Capitals                 11300
Rajasthan Royals               10384
Name: BattingTeam, dtype: int64

In [27]:
req_df.sample()

,ID,BattingTeam,BowlingTeam,overs,ballnumber,total_run,isWicketDelivery,City
46512,1216493,Delhi Capitals,Punjab Kings,18,4,4,0,NaN

In [31]:
req_df["BattingTeam"].unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians', 'Rising Pune Supergiant',
       'Gujarat Lions', 'Rising Pune Supergiants', 'Pune Warriors',
       'Kochi Tuskers Kerala'], dtype=object)

In [32]:
Team=['Rajasthan Royals', 
      'Royal Challengers Bangalore',
       'Sunrisers Hyderabad',
      'Delhi Capitals',
      'Chennai Super Kings',
      'Kolkata Knight Riders',
       'Punjab Kings', 
      'Mumbai Indians',
      ]

In [34]:
req_df=req_df[req_df["BattingTeam"].isin(Team)]

In [35]:
req_df=req_df[req_df["BowlingTeam"].isin(Team)]

In [38]:
req_df["City"].describe()

count      92854
unique        30
top       Mumbai
freq       15509
Name: City, dtype: object

In [39]:
req_df["City"].value_counts()

Mumbai            15509
Kolkata            8657
Delhi              8609
Chennai            7815
Hyderabad          7023
Bangalore          6746
Chandigarh         6084
Jaipur             5338
Abu Dhabi          4565
Pune               2374
Ahmedabad          2224
Durban             1858
Bengaluru          1761
Dubai              1623
Centurion          1486
Sharjah            1245
Visakhapatnam      1240
Dharamsala         1115
Johannesburg        995
Port Elizabeth      870
Cape Town           813
Navi Mumbai         755
Cuttack             735
Ranchi              716
Indore              715
Raipur              614
East London         380
Nagpur              370
Kimberley           368
Bloemfontein        251
Name: City, dtype: int64

In [41]:
import pickle

In [42]:
with open('Req_data','w')as f:
    pickle.dumps(req_df,f)

TypeError: an integer is required (got type _io.BufferedWriter)